# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
config.yaml
local-docs/TODO.md
rainbow-api
local-docs
keystores
.DS_Store
storages

# log files
.log/*
# temp test scripts
.scripts/*
__debu
.vscode/*